
.vs/SpiritSpeak/v16/.suo
.vs/SpiritSpeak/v16/Server/sqlite3/db.lock
.vs/SpiritSpeak/v16/Server/sqlite3/storage.ide
.vs/SpiritSpeak/v16/Server/sqlite3/storage.ide-shm
.vs/SpiritSpeak/v16/Server/sqlite3/storage.ide-wal
.vs/SpiritSpeak/v16/TestStore/0/000-0000.testlog
.vs/SpiritSpeak/v16/TestStore/0/testlog.manifest

*/obj
*/bin
src/Content/bin/DesktopGL/Content/Sprites.xnb
src/Content/obj/DesktopGL/Content/.mgcontent
src/Content/obj/DesktopGL/Content/.mgcontent
src/Content/obj/DesktopGL/Content/Sprites.mgcontent
